.Header {
  /*width*/
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  justify-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.HeaderH1 {
  text-align:center;
  line-height:100px;
  height:100px;
}